.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
   

}

.photo {
    width: 400px;
    height: 450px;
    border-radius: 20px;
    margin: 20px 20px;
}

.discription {
    font-style: oblique;
    margin: 20px;

}
h2{
    display:  flex;
    justify-content: center;
}